body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.wallpapersafari.com/54/7/jhbRrk.jpg');
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000c1;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button {
    background-color: #dbe1e7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

footer {
    background-color:#000000c1;
    color: #fff;
    text-align: center;
    padding: 20px 0;

}